In [30]:
import pandas as pd
import datetime as dt
import numpy as np

df = pd.read_csv('Nike_data.csv')
df['Date'] = df['Date'].astype('datetime64[ns]')
df.columns

Index(['Unnamed: 0', 'Date', 'Product_ID', 'Product_Category', 'Clicks',
       'Sales', 'Price', 'Customer_Age', 'Customer_Gender', 'Region',
       'Click_Count', 'Wait_Time', 'Browser', 'Marketing'],
      dtype='object')

In [31]:
print(df['Sales'][df['Date'].dt.year >= 2024])

1       0
10      0
13      0
19      0
28      0
       ..
9957    0
9962    1
9994    0
9996    0
9997    0
Name: Sales, Length: 1181, dtype: int64

In [32]:
sales = len(df[df['Sales']==1])
notSales = len(df[df['Sales']==0])
print('Sales = '+ str (sales))
print('not Sales = '+ str (notSales))
#We can notice that we don't have a huge difference

Sales = 2776
not Sales = 7224

In [33]:
monthly_sales = df[df['Sales'] == 1].set_index('Date').resample('M').size()
print(monthly_sales)
monthly_sales.to_csv('Sales_by_month.csv')

Date
2023-02-28    150
2023-03-31    245
2023-04-30    244
2023-05-31    241
2023-06-30    256
2023-07-31    267
2023-08-31    246
2023-09-30    250
2023-10-31    236
2023-11-30    266
2023-12-31    236
2024-01-31    101
2024-02-29     38
Freq: M, dtype: int64

In [34]:
#AVG waittime for buyers and not buyers
buyerWaitTime = df['Wait_Time'][df['Sales']==1].mean()
notBuyerWaitTime = df['Wait_Time'][df['Sales']==0].mean()
print('buyerWaitTime = '+ str (buyerWaitTime))
print('notBuyerWaitTime = '+ str (notBuyerWaitTime))

buyerWaitTime = 17.539985590778098
notBuyerWaitTime = 80.04651162790698

In [35]:
df.groupby('Browser')['Unnamed: 0'].nunique()
df.to_csv('Browsers.csv')

In [36]:
# Group by 'Sales' and calculate the sum of clicks for each group
clicks_by_sales = df.groupby('Sales')['Click_Count'].sum()
clicks_by_sales.to_csv('Click_count.csv')
clicks_by_sales


# Date', 'Product_ID', 'Product_Category', 'Clicks',
#        'Sales', 'Price', 'Customer_Age', 'Customer_Gender', 'Region',

Sales
0    68640
1    90971
Name: Click_Count, dtype: int64

In [37]:
price_by_sales = df.groupby('Sales')['Price'].mean()
price_by_sales.to_csv('price_by_sales.csv')
price_by_sales

Sales
0    124.715467
1    122.893565
Name: Price, dtype: float64

In [38]:
age_by_sales = df.groupby('Sales')['Customer_Age'].mean()
age_by_sales.to_csv('age_by_sales.csv')
age_by_sales

Sales
0    38.590255
1    38.178674
Name: Customer_Age, dtype: float64

In [39]:
sales_counts_by_gender = df.groupby(['Customer_Gender', 'Sales']).size().unstack()
sales_counts_by_gender

Sales               0     1
Customer_Gender
Female           3647  1354
Male             3577  1422

In [40]:
sales_by_region = df.groupby(['Region', 'Sales']).size().unstack()
sales_by_region

Sales      0    1
Region
East    1758  677
North   1805  693
South   1802  696
West    1859  710

In [41]:
sales_by_category = df.groupby(['Product_Category', 'Sales']).size().unstack()
sales_by_category

Sales                0    1
Product_Category
Basketball        2405  930
Running           2388  904
Training          2431  942

In [42]:
sales_by_browser = df.groupby(['Browser', 'Sales']).size().unstack()
sales_by_browser

Sales       0    1
Browser
Chrome   2928  284
Edge     1433  806
Firefox  1422  841
Safari   1441  845

In [43]:
Sales_by_marketing = df.groupby(['Marketing', 'Sales']).size().unstack()
Sales_by_marketing

Sales         0     1
Marketing
0          4358   803
1          2866  1973